
<div class="col-xs-12" style="height:50px;"></div>
<div class="mx-auto" style="width: 400px;">
    <form #f="ngForm" (ngSubmit)="salvar(pessoa)">
        <div class="form-row">
            <div class="form-froup col-md-12">
                <label for="Name"> ID </label>
                <input type="email" class="form-control" id="id" placeholder="id" name="id" [(ngModel)]="pessoa.id">
                <br>
                <label for="Name">Nome</label>
                <input type="email" class="form-control" id="Nome" placeholder="nome" name="nome"
                    [(ngModel)]="pessoa.nome">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>